<!-- <p>footer works!</p> -->
<div class="my-3">
  <h2>Subject and Behaviour subject</h2>
  <hr>
  <h3 style="margin: 10px;">Username is <span style="color: blue;">{{userName}}</span></h3>

</div>
<mat-card >
  <mat-card-header class="card-header">
    <div class="container-fluid" style="margin: auto;">
        <app-comp1></app-comp1>
    </div>
<div class="container-fluid" style="margin: auto;">
    <app-comp2></app-comp2>
</div>
<div class="container-fluid" style="margin: auto;">
    <app-comp3></app-comp3>
</div>
</mat-card-header>

</mat-card>
