<header>

    <mat-toolbar color="black">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
      <!-- [routerLink]="['/main']" routerLinkActive="router-link-active" -->

      <div><a href="/main">Main</a></div>
      <div class="mr-2"><a href="/footer">footer</a></div>
      <strong *ngIf="exclusive">Exclusive</strong>
    </mat-toolbar>

</header>
